@import "../../themes/base";

.drawer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background-color: $backgroundWhite;
    transition: .5s ease-in-out;
    overflow: auto;

    a {
      display: block;
      text-decoration: none;

      h2 {
        color: white;
      }
    }
}

.logo {}
