@import "../../themes/base";

.container {
  background-color: $backgroundWhite;
  padding: 8px;
  border-bottom: solid 1px $frost;
  border-left: solid 1px $frost;
  display: flex;
  justify-content: space-between;
}

.indexContainer {
  background-color: $secondaryBlue;
  border-left: solid 1px $secondaryBlue !important;
}

.text {
  font-size: 20px;
}

.indexText {
  color: white;
}

.iconLeft {
  height: 28px;
  padding-right: 10px;
}

.iconRight {
  height: 22px;
  padding-right: 10px;
}

.leftGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
}
