@import url('https://fonts.googleapis.com/css?family=Roboto:300|Slabo+27px');

h1 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
}

h2 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin: 10px 0 10px 0;
}

h3 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  margin: 0;
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.miniature {
  font-size: 12px;
}
