:global {
  @import 'base';
  @import '~normalize.css/normalize';

  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2A2F3A;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
