## NOTE: if you already have js snippets in your cson file, do not add another '.source.js'

'.source.js' :
  'nerpCommentHeading':
    'prefix':'nerpCommentHeading'
    'body':'// ------------------------------------\n// ${1:Heading}\n// ------------------------------------\n${2}\n'
  'nerpTemplate':
    'prefix':'nerpTemplate'
    'body':'/* eslint-disable */\n\n// ------------------------------------\n// SHORTCUT\n// ------------------------------------\n\'${1:shortCut goes here}\'\n\n// ------------------------------------\n// OUTPUT\n// ------------------------------------\n\'final sippet output goes here\'\n\n// ------------------------------------\n// INPUT\n// ------------------------------------\n${2:\'tabstop engineered snippet goes here\'}\n\n// ------------------------------------\n// GENERATED\n// ------------------------------------\n\'oneline generated snippet goes here\''
  'nerpWebSmartComponent':
    'prefix':'nerpWebSmartComponent'
    'body':'import React, { Component, PropTypes } from \'react\'\nimport classes from \'./${1:ComponentName}.styles.scss\'\n\nclass ${1:ComponentName} extends Component {\n\tconstructor () {\n\t\tsuper()\n\t\tthis.state = {}\n\t}\n\trender () {\n\t\tconst { exampleProp1 } = this.props\n\t\treturn (\n\t\t\t<div>\n\t\t\t\t<h2>Smart Component {exampleProp1}</h2>\n\t\t\t</div>\n\t\t)\n\t}\n}\n\n${1:ComponentName}.propTypes = {\n\texampleProp1: PropTypes.number.isRequired\n}\n\nmodule.exports = ${1:ComponentName}\n'
  'nerpNativeComponent':
    'prefix':'nerpNativeComponent'
    'body':'import React, { Component, PropTypes } from \'react\'\nimport { ${2:Text, TouchableOpacity} } from \'react-native\'\nimport styles from \'./${1:ComponentName}.styles\'\n\nclass ${1:ComponentName} extends Component {\n\trender () {\n\t\treturn (\n\t\t\t${3:<TouchableOpacity onPress={this.props.onPress\\}>\n\t\t\t\t<Text style={styles.text\\}>{this.props.text\\}</Text>\n\t\t\t</TouchableOpacity>}\n\t\t)\n\t}\n}\n\n${1:ComponentName}.propTypes = {\n\t${4:onPress: PropTypes.func.isRequired,\n\ttext: PropTypes.string.isRequired}\n}\n\nexport default ${1:ComponentName}\n\n'
  'nerpIndex':
    'prefix':'nerpIndex'
    'body':'import ${1:ExampleComponent} from \'./${1:ExampleComponent}.${2:component}.js\'\n\nexport default ${1:ExampleComponent}\n'
