@import "../../themes/base";

.coreLayout {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.applicaion {
  height: 100%;
  width: 100%;
  transition: .5s ease-in-out;
}

.main {
  overflow-wrap: break-word;
  overflow-y: auto;
  background-color: $backgroundGray;
  height: 100%;
  width: 100%;
  padding-bottom: 90px;
}
