* {
  margin: 0;
  padding: 0;
}

.navIcon {
  width: 30px;
  height: 17px;
  margin-top: -5px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: white;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navIcon span:nth-child(even) {
  left: 50%;
  border-radius: 0 4px 4px 0;
}

.navIcon span:nth-child(odd) {
  left:0px;
  border-radius: 4px 0 0 4px;
}

.navIcon span:nth-child(1), .navIcon span:nth-child(2) {
  top: 0px;
}

.navIcon span:nth-child(3), .navIcon span:nth-child(4) {
  top: 9px;
}

.navIcon span:nth-child(5), .navIcon span:nth-child(6) {
  top: 18px;
}

.navIconOpen span:nth-child(1),.navIconOpen span:nth-child(6) {
  transform: rotate(45deg);
}

.navIconOpen span:nth-child(2),.navIconOpen span:nth-child(5) {
  transform: rotate(-45deg);
}

.navIconOpen span:nth-child(1) {
  left: 2px;
  top: 4px;
}

.navIconOpen span:nth-child(2) {
  left: calc(50% - 2px);
  top: 4px;
}

.navIconOpen span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.navIconOpen span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.navIconOpen span:nth-child(5) {
  left: 2px;
  top: 15px;
}

.navIconOpen span:nth-child(6) {
  left: calc(50% - 2px);
  top: 15px;
}
